url = "/"
layout = "default"
title = "Úvod"

[collection slider]
handle = "Slider\Slide"

[global slider_settings]
handle = "Slider\Settings"

[collection partners]
handle = "Partners\Partner"

[homepage]

[blogPosts flashmessage]
postsPerPage = 1
sortOrder = "published_at desc"
==
<?php
function onEnd()
{
    $blocks = $this["homepage"]->blocks;

    if (!is_null($blocks)) {
        foreach ($blocks as $block) {
            if ($block->type == "flash_message") {
                $posts = $this->page->components["flashmessage"];
                $posts->setProperty("categoryFilter", $block->blog_category);
                $posts->onRun();
            }
        }
    }
}
?>
==
{% for block in homepage.blocks %}
    <div class="container-fluid{% if block.no_gutters %} g-0{% endif %}{% if loop.index > 1 and block.padding_top %} pt-5{% endif %} block block-{{ block.type }}">
        <div class="container{% if block.is_fluid %}-fluid{% endif %}{% if block.no_gutters %} g-0{% endif %}{% if loop.index > 1 and block.padding_top %} pt-xl-4{% endif %}">
            {% if block.type == "slider" %}
                {% partial "_swiper/slider" slides=slider settings=slider_settings %}
            {% elseif block.type == "image_text" %}
                {% partial "_block/image-text.htm" image=block.image text=block.text %}
            {% elseif block.type == "flash_message" %}
                {% component "flashmessage" %}
            {% elseif block.type == "partial" %}
                {% partial block.partial %}
            {% endif %}
        </div>
    </div>
{% endfor %}

<div class="container-fluid pt-5">
    <div class="container-lg pt-xl-4">
        <h2 class="h1 mb-4 mb-xl-5">
            Muzea
        </h2>
    </div>

    {% partial "_swiper/scrollable" partial="_post/card-museum" items=this.theme.museums %}
</div>

<div class="container-fluid pt-5">
    <div class="container-lg pt-xl-4">
        <h2 class="h1 mb-3">
            Infocentra
        </h2>

        <p class="mb-4 mb-xl-5 fs-2 text-dark">
            Informační centra Správy KRNAP nabízejí návštěvníkům Krkonoš nejen komplexní informace o Krkonošském
            národním parku, ale i o možnostech výletů za zajímavostmi, krásami a pozoruhodnostmi našich nejvyšších hor.
        </p>
    </div>

    {% partial "_swiper/scrollable" partial="_post/card" items=this.theme.infocenters %}
</div>

<div class="py-5 border-1 border-bottom border-light">
    <div class="py-xl-4">
        {% partial "map" %}
    </div>
</div>
